PORT=3080
HOST=localhost
MONGO_URI=mongodb://host.docker.internal:27017/LibreChat
MEILI_HOST=http://host.docker.internal:7700
MEILI_MASTER_KEY=MasterKey
CREDS_KEY=sua_creds_key_aqui
JWT_SECRET=seu_jwt_secret_aqui
JWT_REFRESH_SECRET=seu_refresh_secret_aqui
UID=1000
GID=1000
OPENAI_API_KEY=user_provided
GOOGLE_KEY=sua_chave_gemini_aqui